## Read multiple data files using glob

In [7]:
# import libraries
import pandas as pd
import glob
from os.path import isfile, join

In [37]:
# glob finds all the pathnames matching a specified string
allFiles = glob.glob("./201*_PopularBabyNames.xlsx")
allFiles

['.\\2017_PopularBabyNames.xlsx', '.\\2018_PopularBabyNames.xlsx']

In [38]:
# Read multiple files
multiple_files = [pd.read_excel(file) for file in allFiles]

In [39]:
# display multiple files
pd.concat(multiple_files, ignore_index = True)

    Rank  Male name Female name
0      1       Liam        Emma
1      2       Noah      Olivia
2      3    William         Ava
3      4      James    Isabella
4      5      Logan      Sophia
5      6   Benjamin         Mia
6      7      Mason   Charlotte
7      8     Elijah      Amelia
8      9     Oliver      Evelyn
9     10      Jacob     Abigail
10    11      Lucas      Harper
11    12    Michael       Emily
12    13  Alexander   Elizabeth
13    14      Ethan       Avery
14    15     Daniel       Sofia
15    16    Matthew        Ella
16    17      Aiden     Madison
17    18      Henry    Scarlett
18    19     Joseph    Victoria
19    20    Jackson        Aria
20     1       Liam        Emma
21     2       Noah      Olivia
22     3    William         Ava
23     4      James    Isabella
24     5     Oliver      Sophia
25     6   Benjamin   Charlotte
26     7     Elijah         Mia
27     8      Lucas      Amelia
28     9      Mason      Harper
29    10      Logan      Evelyn
30    11  Alexander     Abigail
31    12      Ethan       Emily
32    13      Jacob   Elizabeth
33    14    Michael        Mila
34    15     Daniel        Ella
35    16      Henry       Avery
36    17    Jackson       Sofia
37    18  Sebastian      Camila
38    19      Aiden        Aria
39    20    Matthew    Scarlett